In [1]:
import mods
import datetime as dt
import pandas as pd

In [2]:
records = mods.load.create_df('Record')
workouts = mods.load.create_df('Workout')

records = mods.load.clean_record_df(records)
workouts = mods.load.clean_workout_df(workouts)

In [3]:
workouts.head()

,type,duration,durationUnit,totalDistance,totalDistanceUnit,totalEnergyBurned,totalEnergyBurnedUnit,sourceName,sourceVersion,device,creationDate,startDate,endDate
0,TraditionalStrengthTraining,568.401575,min,0.0,mi,1966.049863,Cal,Apple Watch,6.1.1,"<<HKDevice: 0x280264870>, name:Apple Watch, ma...",2020-01-18 09:06:58-07:00,2020-01-17 23:37:55-07:00,2020-01-18 09:06:19-07:00
1,TraditionalStrengthTraining,28.767217,min,0.0,mi,161.977679,Cal,Apple Watch,6.1.1,"<<HKDevice: 0x280264870>, name:Apple Watch, ma...",2020-01-19 11:18:01-07:00,2020-01-19 10:49:11-07:00,2020-01-19 11:17:58-07:00
2,TraditionalStrengthTraining,14.311157,min,0.0,mi,70.615763,Cal,Apple Watch,6.1.1,"<<HKDevice: 0x280264870>, name:Apple Watch, ma...",2020-01-19 11:32:19-07:00,2020-01-19 11:17:58-07:00,2020-01-19 11:32:17-07:00
3,TraditionalStrengthTraining,100.048343,min,0.0,mi,477.992920,Cal,Apple Watch,6.1.1,"<<HKDevice: 0x280264870>, name:Apple Watch, ma...",2020-01-24 23:19:22-07:00,2020-01-24 21:39:12-07:00,2020-01-24 23:19:15-07:00
4,TraditionalStrengthTraining,27.227527,min,0.0,mi,218.123682,Cal,Apple Watch,6.1.1,"<<HKDevice: 0x280264870>, name:Apple Watch, ma...",2020-01-29 11:29:51-07:00,2020-01-29 10:29:53-07:00,2020-01-29 11:29:48-07:00

In [4]:
records[records['type'] == 'BasalEnergyBurned']
records.type.unique()

array(['Height', 'BodyMass', 'HeartRate', 'RespiratoryRate', 'StepCount',
       'DistanceWalkingRunning', 'BasalEnergyBurned',
       'ActiveEnergyBurned', 'FlightsClimbed', 'AppleExerciseTime',
       'DistanceSwimming', 'SwimmingStrokeCount', 'RestingHeartRate',
       'VO2Max', 'WalkingHeartRateAverage', 'HeadphoneAudioExposure',
       'WalkingDoubleSupportPercentage', 'SixMinuteWalkTestDistance',
       'AppleStandTime', 'WalkingSpeed', 'WalkingStepLength',
       'WalkingAsymmetryPercentage', 'SleepDurationGoal',
       'AppleWalkingSteadiness', 'SleepAnalysis', 'AppleStandHour',
       'MindfulSession', 'HeartRateVariabilitySDNN'], dtype=object)

In [15]:
cond = records['type'] == 'HeartRate'
hr = mods.tools.get_record_type(records, cond)
hr_range = mods.tools.get_range_from_to(hr, dt.date(2022,1,1), dt.date(2022,8,5))
hr_on_date = mods.tools.get_on_date(hr, 2022, 8, 5)
hr_on_month_year = mods.tools.get_on_month_of_year(hr, 2022, 7)
m_stats = mods.tools.get_monthly_stat(records, 2022, 6, 'WalkingSpeed')
m_stats[['type', 'value', 'unit', 'creationDate']]

/Users/marlon/miniforge3/envs/ML/lib/python3.10/site-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

                 type    value   unit              creationDate
1648410  WalkingSpeed  2.90802  mi/hr 2022-06-01 08:11:30-07:00
1648411  WalkingSpeed  3.04223  mi/hr 2022-06-01 08:11:30-07:00
1648412  WalkingSpeed  2.79617  mi/hr 2022-06-01 08:11:30-07:00
1648413  WalkingSpeed  2.88565  mi/hr 2022-06-01 08:11:30-07:00
1648414  WalkingSpeed  2.41589  mi/hr 2022-06-01 08:11:30-07:00
...               ...      ...    ...                       ...
1649077  WalkingSpeed  2.48300  mi/hr 2022-06-30 11:33:26-07:00
1649078  WalkingSpeed  2.46063  mi/hr 2022-06-30 11:33:26-07:00
1649079  WalkingSpeed  2.68432  mi/hr 2022-06-30 11:33:26-07:00
1649080  WalkingSpeed  2.88565  mi/hr 2022-06-30 11:33:26-07:00
1649081  WalkingSpeed  2.88565  mi/hr 2022-06-30 11:33:26-07:00

[672 rows x 4 columns]

In [10]:
records.head()

,type,sourceName,sourceVersion,unit,creationDate,startDate,endDate,value,device
0,Height,Health,11.4,ft,2018-09-26 15:55:23-07:00,2018-09-26 15:55:23-07:00,2018-09-26 15:55:23-07:00,5.41667,NaN
1,BodyMass,Marlon’s iPhone,13.3,lb,2020-01-14 19:33:10-07:00,2020-01-14 19:33:10-07:00,2020-01-14 19:33:10-07:00,134.00000,NaN
2,BodyMass,Marlon’s iPhone,15.0.2,lb,2022-02-05 14:37:28-07:00,2022-02-05 14:37:28-07:00,2022-02-05 14:37:28-07:00,138.00000,NaN
3,HeartRate,Apple Watch,6.1.1,count/min,2020-01-14 19:40:22-07:00,2020-01-14 19:39:50-07:00,2020-01-14 19:39:50-07:00,62.00000,"<<HKDevice: 0x28026dbd0>, name:Apple Watch, ma..."
4,HeartRate,Apple Watch,6.1.1,count/min,2020-01-14 19:45:48-07:00,2020-01-14 19:41:45-07:00,2020-01-14 19:41:45-07:00,66.00000,"<<HKDevice: 0x28026dbd0>, name:Apple Watch, ma..."