In [1]:
import mods
import datetime as dt
import pandas as pd

In [2]:
records = mods.load.create_df('Record')
workouts = mods.load.create_df('Workout')

records = mods.load.clean_record_df(records)
workouts = mods.load.clean_workout_df(workouts)

In [3]:
records.head()

,type,sourceName,unit,creationDate,startDate,endDate,value
0,Height,Health,ft,2018-09-26 22:55:23+00:00,2018-09-26 22:55:23+00:00,2018-09-26 22:55:23+00:00,5.41667
1,BodyMass,Marlon’s iPhone,lb,2020-01-15 02:33:10+00:00,2020-01-15 02:33:10+00:00,2020-01-15 02:33:10+00:00,134.00000
2,BodyMass,Marlon’s iPhone,lb,2022-02-05 21:37:28+00:00,2022-02-05 21:37:28+00:00,2022-02-05 21:37:28+00:00,138.00000
3,HeartRate,Apple Watch,count/min,2020-01-15 02:40:22+00:00,2020-01-15 02:39:50+00:00,2020-01-15 02:39:50+00:00,62.00000
4,HeartRate,Apple Watch,count/min,2020-01-15 02:45:48+00:00,2020-01-15 02:41:45+00:00,2020-01-15 02:41:45+00:00,66.00000

In [4]:
records[records['type'] == 'BasalEnergyBurned']
records.type.unique()

array(['Height', 'BodyMass', 'HeartRate', 'RespiratoryRate', 'StepCount',
       'DistanceWalkingRunning', 'BasalEnergyBurned',
       'ActiveEnergyBurned', 'FlightsClimbed', 'AppleExerciseTime',
       'DistanceSwimming', 'SwimmingStrokeCount', 'RestingHeartRate',
       'VO2Max', 'WalkingHeartRateAverage', 'HeadphoneAudioExposure',
       'WalkingDoubleSupportPercentage', 'SixMinuteWalkTestDistance',
       'AppleStandTime', 'WalkingSpeed', 'WalkingStepLength',
       'WalkingAsymmetryPercentage', 'SleepDurationGoal',
       'AppleWalkingSteadiness', 'SleepAnalysis', 'AppleStandHour',
       'MindfulSession', 'HeartRateVariabilitySDNN'], dtype=object)

In [13]:
cond = records['type'] == 'HeartRate'
start = pd.to_datetime(dt.date(2022,1,1))
end = pd.to_datetime(dt.date(2022,8,5))
hr = mods.tools.get_record_type(records, cond)
hr_range = mods.tools.get_range_from_to(hr, start , end)
hr_on_date = mods.tools.get_on_date(hr, 2022, 8, 5)
hr_on_month_year = mods.tools.get_on_month_of_year(hr, 2022, 7)
m_stats = mods.tools.get_monthly_stat(records, 2022, 6, 'WalkingSpeed')
m_stats[['type', 'value', 'unit', 'creationDate', 'startDate', 'endDate']]

,type,value,unit,creationDate,startDate,endDate
1648380,WalkingSpeed,2.93039,mi/hr,2022-06-01 00:02:54+00:00,2022-05-31 23:52:54+00:00,2022-05-31 23:52:56+00:00
1648381,WalkingSpeed,2.72906,mi/hr,2022-06-01 00:02:54+00:00,2022-05-31 23:54:26+00:00,2022-05-31 23:54:40+00:00
1648382,WalkingSpeed,3.35540,mi/hr,2022-06-01 00:02:54+00:00,2022-05-31 23:58:27+00:00,2022-05-31 23:58:58+00:00
1648383,WalkingSpeed,2.88565,mi/hr,2022-06-01 00:02:54+00:00,2022-05-31 23:59:09+00:00,2022-05-31 23:59:21+00:00
1648384,WalkingSpeed,2.66195,mi/hr,2022-06-01 02:04:23+00:00,2022-06-01 00:37:23+00:00,2022-06-01 00:39:09+00:00
...,...,...,...,...,...,...
1649077,WalkingSpeed,2.48300,mi/hr,2022-06-30 18:33:26+00:00,2022-06-30 17:12:26+00:00,2022-06-30 17:12:34+00:00
1649078,WalkingSpeed,2.46063,mi/hr,2022-06-30 18:33:26+00:00,2022-06-30 17:13:26+00:00,2022-06-30 17:13:38+00:00
1649079,WalkingSpeed,2.68432,mi/hr,2022-06-30 18:33:26+00:00,2022-06-30 17:43:34+00:00,2022-06-30 17:43:53+00:00
1649080,WalkingSpeed,2.88565,mi/hr,2022-06-30 18:33:26+00:00,2022-06-30 18:14:34+00:00,2022-06-30 18:16:46+00:00
1649081,WalkingSpeed,2.88565,mi/hr,2022-06-30 18:33:26+00:00,2022-06-30 18:17:05+00:00,2022-06-30 18:18:10+00:00

In [6]:
w = mods.tools.get_on_month_of_year(workouts, 2022, 7, 20).iloc[0]
r = m_stats.iloc[0]
mods.tools.get_values(r)
mods.tools.get_unit(r)
mods.tools.get_duration(w)
mods.tools.get_totalDistance(w)
mods.tools.get_totalEnergyBurned(w)

382.7835

In [7]:
mods.tools.get_heartrate_for_workout(records, w)

,type,sourceName,unit,creationDate,startDate,endDate,value
159838,HeartRate,Apple Watch,count/min,2022-06-30 17:17:03+00:00,2022-06-30 17:17:01+00:00,2022-06-30 17:17:01+00:00,67.0
159839,HeartRate,Apple Watch,count/min,2022-06-30 17:17:07+00:00,2022-06-30 17:17:06+00:00,2022-06-30 17:17:06+00:00,70.0
159840,HeartRate,Apple Watch,count/min,2022-06-30 17:17:12+00:00,2022-06-30 17:17:11+00:00,2022-06-30 17:17:11+00:00,74.0
159841,HeartRate,Apple Watch,count/min,2022-06-30 17:17:17+00:00,2022-06-30 17:17:12+00:00,2022-06-30 17:17:12+00:00,75.0
159842,HeartRate,Apple Watch,count/min,2022-06-30 17:17:21+00:00,2022-06-30 17:17:17+00:00,2022-06-30 17:17:17+00:00,79.0
...,...,...,...,...,...,...,...
160408,HeartRate,Apple Watch,count/min,2022-06-30 18:12:28+00:00,2022-06-30 18:12:26+00:00,2022-06-30 18:12:26+00:00,130.0
160409,HeartRate,Apple Watch,count/min,2022-06-30 18:12:33+00:00,2022-06-30 18:12:27+00:00,2022-06-30 18:12:27+00:00,131.0
160410,HeartRate,Apple Watch,count/min,2022-06-30 18:12:38+00:00,2022-06-30 18:12:36+00:00,2022-06-30 18:12:36+00:00,133.0
160411,HeartRate,Apple Watch,count/min,2022-06-30 18:12:43+00:00,2022-06-30 18:12:38+00:00,2022-06-30 18:12:38+00:00,134.0
160412,HeartRate,Apple Watch,count/min,2022-06-30 18:12:48+00:00,2022-06-30 18:12:42+00:00,2022-06-30 18:12:42+00:00,132.0

In [8]:
cond = workouts['type'] == 'Running'

In [20]:
'tydspe' in records.columns

False

In [44]:
assert 1 <= 23 <=12, 'ynop'

AssertionError: ynop

In [56]:
dt.datetime(2022,2,300)

ValueError: day is out of range for month